{
    "system": {
        "points": 8,
        "style": {
            "line": "yellow",
            "text": "green",
            "baseline": "white"
        },
        "devices": [
            {
                "name": "CPU",
                "command": "sensors | grep 'Physical id 0:' | cut -c18-19",
                "interval": "1",
                "style": {
                    "line": "red"
                }
            },
            {
                "name": "GPU",
                "command": "nvidia-smi -q -d TEMPERATURE | awk \"/GPU Current Temp/ {print $5}\" | cut -c39-40",
                "interval" :"1",
                "style": {
                    "line": "green"
                }
            }
        ]
    }
}
