{
    "SysComponent": {
        "points": 8,
        "style": {
            "line": "yellow",
            "text": "green",
            "baseline": "white"
        },
        "box": {
            "top": "top",
            "left": "left",
            "width": "100%",
            "height": "30%",
            "border": {
                "type": "line"
            }
        },
        "devices": [
            {
                "name": "CPU",
                "command": "sensors | grep 'Physical id 0:' | cut -c18-19",
                "interval": "1",
                "style": {
                    "line": "red"
                }
            },
            {
                "name": "LCPU",
                "command": "ssh REMOTE_MINER sensors | grep 'Physical id 0:' | cut -c18-19",
                "interval": "1",
                "style": {
                    "line": [255, 0, 255]
                }
            },
            {
                "name": "GPU",
                "command": "nvidia-smi -q -d TEMPERATURE | awk \"/GPU Current Temp/ {print $5}\" | cut -c39-40",
                "interval" :"1",
                "style": {
                    "line": "green"
                }
            }
        ]
    },
    "NovaExchangeComponent": {
        "points": 6,
        "style": {
            "line": "yellow",
            "text": "green",
            "baseline": "white"
        },
        "box": {
            "top": "30%",
            "left": "left",
            "width": "40%",
            "height": "30%",
            "border": {
                "type": "line"
            }
        },
        "multiplier": 10000,
        "markets": [
            {
                "name": "btc_xzc",
                "interval": 10,
                "style": {
                    "line": "blue"
                }
            },
            {
                "name": "btc_dash",
                "interval": 10,
                "style": {
                    "line": "red"
                }
            }
        ]
    },
    "SuprnovaComponent": {
        "points": 6,
        "style": {
            "line": "yellow",
            "text": "green",
            "baseline": "white"
        },
        "box": {
            "top": "30%",
            "left": "40%+1",
            "width": "60%",
            "height": "30%",
            "border": {
                "type": "line"
            }
        },
        "pools": [
            {
                "name": "xzc",
                "interval": 10,
                "api_key": "fak_off_m8_get_ur_own_key",
                "style": {
                    "line": [255, 99, 33]
                }
            }
        ]
    },
    "BitXComponent": {
        "points": 6,
        "style": {
            "line": "yellow",
            "text": "green",
            "baseline": "white"
        },
        "box": {
            "top": "60%",
            "left": "left",
            "width": "60%",
            "height": "30%",
            "border": {
                "type": "line"
            }
        },
        "watch": "last_trade",
        "tickers": [
            {
                "name": "XBTMYR",
                "interval": 10,
                "style": {
                    "line": [115, 244, 214]
                }
            }
        ]
    }
}
