{
    "SysComponent": {
        "points": 8,
        "style": {
            "line": "yellow",
            "text": "green",
            "baseline": "white"
        },
        "box": {
            "top": "top",
            "left": "left",
            "width": "100%",
            "height": "20%",
            "border": {
                "type": "line"
            }
        },
        "devices": [
            {
                "name": "CPU",
                "command": "sensors | grep 'Physical id 0:' | cut -c18-19",
                "interval": "1",
                "style": {
                    "line": "red"
                }
            },
            {
                "name": "LCPU",
                "command": "ssh BEHEMOTH sensors | grep 'Physical id 0:' | cut -c18-19",
                "interval": "1",
                "style": {
                    "line": [255, 0, 255]
                }
            },
            {
                "name": "GPU",
                "command": "nvidia-smi -q -d TEMPERATURE | awk \"/GPU Current Temp/ {print $5}\" | cut -c39-40",
                "interval" :"1",
                "style": {
                    "line": "green"
                }
            }
        ]
    },
    "NovaExchangeComponent": {
        "points": 4,
        "style": {
            "line": "yellow",
            "text": "green",
            "baseline": "white"
        },
        "box": {
            "top": "20%",
            "left": "left",
            "width": "30%",
            "height": "30%",
            "border": {
                "type": "line"
            }
        },
        "multiplier": 10000,
        "markets": [
            {
                "name": "btc_xzc",
                "interval": 10,
                "style": {
                    "line": "blue"
                }
            },
            {
                "name": "btc_dash",
                "interval": 10,
                "style": {
                    "line": "red"
                }
            }
        ]
    },
    "BitXComponent": {
        "points": 4,
        "style": {
            "line": "yellow",
            "text": "green",
            "baseline": "white"
        },
        "box": {
            "top": "20%",
            "left": "30%+1",
            "width": "30%",
            "height": "30%",
            "border": {
                "type": "line"
            }
        },
        "watch": "last_trade",
        "tickers": [
            {
                "name": "XBTMYR",
                "interval": 10,
                "style": {
                    "line": [115, 244, 214]
                }
            }
        ]
    },
    "BittrexComponent": {
        "points": 6,
        "style": {
            "line": "yellow",
            "text": "green",
            "baseline": "white"
        },
        "box": {
            "top": "50%",
            "left": "left",
            "width": "60%",
            "height": "25%",
            "border": {
                "type": "line"
            }
        },
        "watch": "Last",
        "tickers": [
            {
                "name": "btc-xzc",
                "interval": 10,
                "style": {
                    "line": [121, 224, 98]
                }
            },
            {
                "name": "btc-zec",
                "interval": 10,
                "style": {
                    "line": [38, 109, 21]
                }
            }
        ]
    },
    "SuprnovaComponent": {
        "points": 6,
        "style": {
            "line": "yellow",
            "text": "green",
            "baseline": "white"
        },
        "box": {
            "top": "70%+3",
            "left": "left",
            "width": "60%",
            "height": "25%+2",
            "border": {
                "type": "line"
            }
        },
        "pools": [
            {
                "name": "xzc",
                "interval": 10,
                "api_key": "",
                "style": {
                    "line": [255, 99, 33]
                }
            }
        ]
    },
    "PoloniexComponent": {
        "table": {
            "fg": "cyan",
            "top": "20%",
            "left": "60%+1",
            "width": "40%",
            "height": "80%+1",
            "border": {
                "type": "line"
            }
        },
        "interval": 10,
        "filter": ["BTC_ZEC", "BTC_ETH", "BTC_ETC", "BTC_XMR", "BTC_XEM", "BTC_SC"],
        "watch": ["lowestAsk", "percentChange", "high24hr", "low24hr"]
    }
}
